
# Gradle-related files
.gradle/
build/
out/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Java-specific files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Linux system files
*~

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn
